@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir";
  src: url("../public/fonts/Avenir/Avenir-Black.ttf") font-weight-black,
       url("../public/fonts/Avenir/Avenir-BlackOblique.ttf") font-italic font-weight-black,
       url("../public/fonts/Avenir/Avenir-Heavy.ttf") font-weight-bold,
       url("../public/fonts/Avenir/Avenir-HeavyOblique.ttf") font-italic font-weight-bold,
       url("../public/fonts/Avenir/Avenir-Medium.ttf") font-weight-medium,
       url("../public/fonts/Avenir/Avenir-MediumOblique.ttf") font-italic font-weight-medium,
       url("../public/fonts/Avenir/Avenir-Roman.ttf") font-weight-normal,
       url("../public/fonts/Avenir/Avenir-Oblique.ttf") font-italic font-weight-normal,
       url("../public/fonts/Avenir/Avenir-Light.ttf") font-weight-light,
       url("../public/fonts/Avenir/Avenir-LightOblique.ttf") font-italic font-weight-light,
}

@font-face {
  font-family: "Chalkboard";
  src: url("../public/fonts/Chalkboard/Chalkboard.ttf") font-weight-normal,
       url("../public/fonts/Chalkboard/Chalkboard-Bold.ttf") font-weight-bold;
}

html {
  @apply scroll-smooth box-border;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  @apply overflow-x-hidden;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-secondary opacity-100;
}

@media (max-width: 1024px) {
  .background-divider {
    background: linear-gradient(transparent 40%, white 65%);
    background-size: cover, contain;
  }
}

.loader {
  border-top-color: #C09551;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}