@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn-hero {
  @apply px-6 py-3 lg:px-10 lg:py-4 w-full lg:w-auto;
}

.btn-primary {
  @apply bg-secondary text-white text-sm font-extrabold rounded-full;
}

.btn-secondary {
  @apply border border-secondary text-secondary text-sm font-extrabold rounded-full;
}

.item .img-wrap:before {
  content: '';
  background-image: linear-gradient(to top, rgba(239, 239, 239, 255), rgba(239, 239, 239, 0));
  position: absolute;
  height: 100px;
  right: 0;
  bottom: 0;
  left: 0;
}

.item .img-wrap:after {
  content: '';
  display: block;
  height: 9999px;
}

.img-wrap img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-interpolation-mode: bicubic;
}