@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth box-border;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  @apply overflow-x-hidden;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-secondary opacity-100;
}

@media (max-width: 1024px) {
  .background-divider {
    background: linear-gradient(transparent 40%, white 65%);
    background-size: cover, contain;
  }
}